certifi==2024.8.30
charset-normalizer==2.0.12
click==8.0.4
decorator==5.1.1
future==1.0.0
geocoder==1.38.1
geographiclib==1.52
geopy==2.2.0
idna==3.10
importlib-metadata==4.8.3
ratelim==0.1.6
requests==2.27.1
six==1.16.0
typing-extensions==4.1.1
urllib3==1.26.20
zipp==3.6.0
